h1 {
  color: green;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  text-align: center;
}

a {
  color: blue;
  font-size: small;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

h2 {
  color: green;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  color: brown;
}
ul {
  color: brown;
}
figcaption {
  color: rgb(51, 255, 0);
}
